*
  {margin: 0; padding: 0;}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
}

a:active {
    text-decoration: underline;
    color: white;
}

body {
  font-family: "Source Sans Pro";
}

div.box1 {margin: 20px}

div.tagline {
  font-family: "Source Sans Pro";
  text-align: center;
}

p, ul {
  font-family: "Source Sans Pro";
  color: gray;
}

header {
  background-color: #f7484e;
  color: white;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 45pt;
  text-align: center;
}

h3{
  font-family: "Merriweather";
}

img {
    display: block;
    margin: auto;
    width: 20%;
    height: 20%;
}

nav.top {
  font-family: "Source Sans Pro";
  text-align: right;
}

nav.center {
  font-family: "Source Sans Pro";
  text-align: center;
}

ul {margin-left: 20px}
